@model CapstoneProject.Models.Project

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsSold" /> @Html.DisplayNameFor(model => model.IsSold)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SquareFootage" class="control-label"></label>
                <input asp-for="SquareFootage" class="form-control" />
                <span asp-validation-for="SquareFootage" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsProjectAreaCleared" /> @Html.DisplayNameFor(model => model.IsProjectAreaCleared)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Start" class="control-label"></label>
                <input asp-for="Start" class="form-control" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End" class="control-label"></label>
                <input asp-for="End" class="form-control" />
                <span asp-validation-for="End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label"></label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityAddress" class="control-label"></label>
                <input asp-for="CityAddress" class="form-control" />
                <span asp-validation-for="CityAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateAddress" class="control-label"></label>
                <input asp-for="StateAddress" class="form-control" />
                <span asp-validation-for="StateAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipAddress" class="control-label"></label>
                <input asp-for="ZipAddress" class="form-control" />
                <span asp-validation-for="ZipAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LatAddress" class="control-label"></label>
                <input asp-for="LatAddress" class="form-control" />
                <span asp-validation-for="LatAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LongAddress" class="control-label"></label>
                <input asp-for="LongAddress" class="form-control" />
                <span asp-validation-for="LongAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustID" class="control-label"></label>
                <select asp-for="CustID" class="form-control" asp-items="ViewBag.CustID"></select>
                <span asp-validation-for="CustID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesID" class="control-label"></label>
                <select asp-for="SalesID" class="form-control" asp-items="ViewBag.SalesID"></select>
                <span asp-validation-for="SalesID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrassID" class="control-label"></label>
                <select asp-for="GrassID" class="form-control" asp-items="ViewBag.GrassID"></select>
                <span asp-validation-for="GrassID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
